<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Hando</title>

        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="static/css/stylish-portfolio.css" rel="stylesheet">
        <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>

        <!-- Full Page Image Header Area -->
        <div id="top" class="header">
            <div class="vert-text">
                <h1 class="lead"> Hando </h1>
                <div class="container col-md-offset-4 col-md-4">
                    <form class="form-signin" action="/submit" method="POST">
                        <input name="username" type="text" class="form-control" placeholder="Email address" required="" autofocus="">
                        <p></p>
                        <input name="password" type="password" class="form-control" placeholder="Password" required="">
                        <p></p>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Full Page Image Header Area -->

    </body>

</html>
