<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Hando</title>

        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="static/css/stylish-portfolio.css" rel="stylesheet">
    </head>

    <body>

        <!-- Full Page Image Header Area -->
        <div id="top" class="header">
            <div class="vert-text">
                <h1 class="lead"> Hando </h1>
                <div class="container col-md-offset-4 col-md-4">
					<div style="border-radius: 6px; background-color: white; padding: 16px; font-size: 1.5em;">
						Door is currently <span style="font-weight: bold;" id='sts'>unknown</span>.
					</div>
					<br/>
					<a class="btn bt-lg btn-primary btn-block" id='btc'>
						Unknown
					</a>
                </div>
            </div>
        </div>

        <!-- /Full Page Image Header Area -->
        <script src="static/js/jquery.js"></script>
        <script src="static/js/bootstrap.js"></script>

		<script type="text/javascript">
			$(function() {

				function update() {
					$.get('/status', function(data){
						data = JSON.parse(data);
						if (data) {
							$('#sts').text('unlocked');
							$('#btc').text('Lock');
						} else {
							$('#sts').text('locked');
							$('#btc').text('Unlock');
						}
					});
				}

				$('#btc').click(function() {
					$.post('/command', function(data) {
						update();
					});
				});

				setInterval(update, 1000);

			});
		</script>

    </body>

</html>
